* {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
  font-family: "Merriweather Sans", serif;
}
.requests-text {
  color: var(--font-color);
  display: flex;
  justify-content: start;
  align-items: center;
}
.requests-container {
  margin: 0rem 3rem;
}
.btn {
  padding: 0.5rem;
}

h2 {
  width: 94%;
  text-align: center;
  border-bottom: 1px dashed var(--font-color);
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: var(--font-color);
  margin: 2rem;
}

h2 span {
  color: var(--font-color);
  background: var(--main-bg-color);
  padding: 0 10px;
  font-family: "Merriweather Sans", serif;
  font-size: 20px;
}
