<div
  class="fdb-container pb-5"
  *ngIf="feedbacks.length > 0; else noFeedbackAvailable"
>
  <div class="fdb-header">
    <h2>
      <span class="header-text">&nbsp; {{ constants.FDB_LABEL }} &nbsp;</span>
    </h2>
  </div>

  <div class="fdb-list-container">
    <div class="filter input-group mb-3">
      <select
        class="form-select form-control"
        [(ngModel)]="selectedFilter"
        style="cursor: pointer"
      >
        <option value="">{{ constants.ALL_FDB_LABEL }}</option>
        <option *ngFor="let option of feedbackCriteria">
          {{ option | titlecase }}
        </option>
      </select>
    </div>

    <div class="fdb-list-data">
      <table class="table table-striped borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ constants.CRITERIA_LABEL }}</th>
            <th scope="col">{{ constants.RATINGS_LABEL }}</th>
            <th scope="col">{{ constants.REVIEW_LABEL }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let feedback of filterFeedbacks() | paginate
                  : {itemsPerPage: 7, currentPage: pageNumber,
                    };
              let i = index
            "
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ feedback.criteria | titlecase }}</td>
            <td>
              <span *ngFor="let i of getArray(feedback.feedback)" class="stars"
                ><i class="fa-solid fa-star" style="color: #003835"></i
                >&nbsp;</span
              >
            </td>
            <td>{{ feedback.comments | titlecase }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        class="text-center pagi"
        (pageChange)="pageNumber = $event"
        previousLabel="Previous"
        nextLabel="Next"
      ></pagination-controls>
    </div>
  </div>
</div>

<ng-template #noFeedbackAvailable>
  <ng-container *ngIf="!isPageLoading">
    <h2>
      <span class="header-text"
        >&nbsp; {{ constants.NO_FDB_LABEL }} &nbsp;</span
      >
    </h2>
    <img src="assets\no_feedbacks.svg" class="no_fdb" alt="" />
    <h2>
      <span class="header-text">&nbsp;{{ constants.STARS }} &nbsp;</span>
    </h2>
  </ng-container>
</ng-template>
