@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");

.add-button {
  max-width: 200px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: large;
}

p {
  font-family: "Teko", sans-serif;
  color: #0d1b2a;
}
.container {
  color: #e0e1dd;
  /* background-color: rgba(172, 209, 246, 0.416); */
  border-radius: 20px;
}
.p-2 {
  border: #0d1b2a 2px solid;
  font-family: "Merriweather Sans", serif;
  background-image: linear-gradient(45deg, rgb(44, 79, 117), #6ab4f5);
  font-size: 1.5rem;
  border-radius: 10px;

  /* background-color: #415a77;   */
}

.item {
  border-radius: 20px;
}

.li-items-heading {
  font-size: 2rem;
}

.nav-button {
  border-radius: 50%;
  background-color: #0d1b2a;
  color: #e0e1dd;
  max-width: 50px;
  max-height: 50px;
}

.nav-pages {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.input-group {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2rem;
}

h2 {
  width: 96%;
  text-align: center;
  border-bottom: 1px dashed var(--font-color);
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: var(--font-color);
  margin: 2rem;
}

h2 span {
  color: var(--font-color);
  background: var(--main-bg-color);
  padding: 0 10px;
  font-family: "Merriweather Sans", serif;
  font-size: 20px;
  width: 90%;
}
h2 .header-text {
  font-size: 30px;
}

table.table-striped.borderless {
  --bs-table-bg: #c0cecf;
  --bs-table-border-color: #003835;
  font-family: "Merriweather Sans", serif;
}

.emp-list-container {
  margin: 5rem;
}
