<div class="emp-container">
  <div class="emp-header">
    <h2>
      <span class="header-text">&nbsp; List of employees &nbsp;</span>
    </h2>
  </div>

  <div class="emp-list-container">
    <div class="emp-list-data">
      <table class="table table-striped borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Username</th>
            <th scope="col">
              {{ userRole === "admin" ? "Balance" : "Topup Card" }}
            </th>
            <th scope="col">
              {{ userRole === "admin" ? "Topup Card" : "Place Order" }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let emp of employees
                | paginate : { itemsPerPage: 7, currentPage: pageNumber };
              let i = index
            "
          >
            <th scope="row">{{ emp.user_id }}</th>
            <td>{{ emp.username }}</td>
            <td *ngIf="userRole === 'admin'">₹{{ emp.balance | number }}</td>
            <td *ngIf="userRole === 'f_emp'">
              <div
                *ngIf="userRole !== 'admin'"
                class="col btn add-button display-2"
                (click)="addBalance(i)"
              >
                +
              </div>
            </td>

            <td>
              <div
                *ngIf="userRole === 'admin'"
                class="col btn add-button display-2"
                (click)="addBalance(i)"
              >
                +
              </div>
              <div
                class="col btn add-button display-2 ms-2"
                (click)="openPlaceOrder(emp)"
                *ngIf="userRole === 'f_emp'"
              >
                <i class="fa-solid fa-cart-plus"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        class="text-center"
        (pageChange)="pageNumber = $event"
        previousLabel=""
        nextLabel=""
      ></pagination-controls>
    </div>
  </div>
  <!-- 
  <div class="nav-pages">
    <div class="nav-pages-item" (click)="goBack()">
      <i
        [ngStyle]="{ visibility: !isBackDisabled ? 'visible' : 'hidden' }"
        class="fa-solid fa-chevron-left fa-lg"
      ></i>
    </div>
    <div class="nav-pages-item">
      <p class="h4">Page-{{ pageNumber }}</p>
    </div>
    <div
      [ngStyle]="{ visibility: !isFrontDisabled ? 'visible' : 'hidden' }"
      class="nav-pages-item"
      (click)="goAhead()"
    >
      <i class="fa-solid fa-chevron-right fa-lg" style="color: #0d1b2a"></i>
    </div>
  </div> -->
</div>

<div id="popup1" class="overlay" *ngIf="isUpdateBalanceOpen">
  <div class="popup">
    <h1 class="display-6 text-center">Update balance</h1>
    <a class="close" (click)="closeDialog()">&times;</a>
    <div class="content">
      <div class="input-group mb-3">
        <span class="input-group-text">₹</span>
        <input
          type="number"
          class="form-control"
          placeholder="Enter Amount"
          [(ngModel)]="amount"
        />
        <div class="input-group-append">
          <button class="btn" type="button" (click)="updateBalance()">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-place-order></app-place-order>
