<div class="fdb-container pb-5">
  <div class="fdb-header">
    <h2>
      <span class="header-text"
        >&nbsp; {{ constants.ADD_FDB_LABEL }} &nbsp;</span
      >
    </h2>

    <div class="fdb-content" *ngIf="isOrderPlaced; else placeOrder">
      <ng-container *ngIf="!isFeedbackDone; else feedbackDone">
        <div class="fdb-criteria-header mb-3">
          <div class="w-15">{{ constants.CRITERIA_LABEL }}</div>
          <div class="w-25 text-center">{{ constants.RATINGS_LABEL }}</div>
          <div class="w-25 text-center">{{ constants.REVIEW_LABEL }}</div>
        </div>
        <form #feedbackForm="ngForm" (submit)="onSubmitFeedback(feedbackForm)">
          <div *ngFor="let criteria of fdbCriteria">
            <div class="fdb-criteria-item">
              <label for="{{ criteria.cr_id }}" class="input-text cr-text">{{
                criteria.criteria | titlecase
              }}</label>
              <input
                type="number"
                min="1"
                max="5"
                id="{{ criteria.cr_id }}"
                name="{{ criteria.cr_id }}"
                ngModel
                required
                class="form-control w-25"
              />

              <input
                id="comment_{{ criteria.cr_id }}"
                ngModel
                name="comment_{{ criteria.cr_id }}"
                class="form-control w-25"
              />
            </div>
          </div>

          <div class="btns">
            <button
              class="btn me-5"
              type="submit"
              [disabled]="feedbackForm.invalid"
            >
              {{ constants.SUBMIT_LABEL }}
            </button>
          </div>
        </form>
      </ng-container>
    </div>

    <ng-template #placeOrder>
      <img src="assets\empty_cart.svg" class="empty_cart" alt="" />
      <h3>{{ constants.ORDER_NOT_PLACED }}</h3>
      <h2>
        <span class="header-text mt-5">{{ constants.STARS }}&nbsp;</span>
      </h2>
    </ng-template>

    <ng-template #feedbackDone>
      <img src="assets\already_feedback.svg" class="fdb_done_img" alt="" />
      <h3>{{ constants.FDB_GIVEN_LABEL }}</h3>
      <h2>
        <span class="header-text mt-5">{{ constants.STARS }}&nbsp;</span>
      </h2>
    </ng-template>
  </div>
</div>
