@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

.date-input {
  margin: 2rem 12rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.801);
  transition: opacity 1000ms;
  visibility: visible;
  opacity: 1;
  z-index: 99;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #dcecfb;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  color: #0d1b2a;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0d1b2a;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.form-label {
  width: 25%;
  margin-right: 15px;
}

.display-6 {
  font-family: "Teko", sans-serif;
}
.form-control {
  flex-grow: 1;
}

.h3 {
  font-family: "Merriweather Sans";
  color: #0d1b2a;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn {
  background-color: #1c3b5c;
  color: rgb(255, 255, 255);
  font-family: "Merriweather Sans", serif;
}

