@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
body {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
}
.date-input {
  margin: 2rem 12rem;
}

.popup {
  width: 35%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.form-label {
  width: 25%;
  margin-right: 15px;
}

.form-control {
  flex-grow: 1;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-text {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 30px;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
}

.h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn-danger {
  background-color: var(--font-color-lt);
  color: red;
}
