<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <!--Stylesheet-->
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form #authForm="ngForm">
      <h3>Login</h3>

      <label for="username">Username</label>
      <input
        type="text"
        placeholder="Username"
        id="username"
        ngModel
        name="username"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        ngModel
        name="password"
        required
      />

      <!-- <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Username</mat-label>
        <input matInput placeholder="" ngModel name="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput placeholder="" ngModel name="password" />
      </mat-form-field> -->
      <button (click)="onSubmit(authForm)">Log In</button>
    </form>
  </body>
</html>
