<body>
  <header>
    <img src="assets\Fiesta-logo.png" alt="" class="logo-img" />
  </header>

  <div class="main-div">
    <div class="form-div">
      <form #authForm="ngForm">
        <h2>Welcome</h2>

        <label for="username">Username</label>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input
            type="text"
            id="username"
            class="inp"
            ngModel
            name="username"
            pattern="^$|^[A-Za-z ]+"
            required
          />
        </div>

        <label for="password">Password</label>
        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input
            class="inp"
            [type]="hide ? 'password' : 'text'"
            id="password"
            ngModel
            name="password"
            required
          />
          <div (click)="hideUnhide()">
            <i class="fa-solid fa-eye" *ngIf="hide; else notHidden"></i>
            <ng-template #notHidden
              ><i class="fa-solid fa-eye-slash"></i
            ></ng-template>
          </div>
        </div>

        <button
          [disabled]="!authForm.valid"
          class="btn"
          (click)="onSubmit(authForm)"
        >
          Log In
        </button>
      </form>
    </div>
    <div class="div-img">
      <img src="\assets\login-img.svg" alt="" />
    </div>
  </div>
</body>
