body {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
  font-family: "Kalnia", serif;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    280deg,
    var(--main-bg-color),
    var(--font-color)
  );
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#0d1b2a, #44a7fd);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #0d1b2a, #44a7fd);
  right: -30px;
  bottom: -80px;
}
form {
  /* height: 520px; */
  width: 400px;
}
form * {
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.inp {
  display: block;
  height: 50px;
  width: 80%;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  background-color: #f0f0f0;
}
::placeholder {
  color: #e5e5e5;
}
button {
  margin-top: 50px;
  width: 50%;
  margin-left: 5rem;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 25px;
}

input.ng-invalid.ng-touched {
  border-left: red 2px solid;
}

.main-div {
  margin: 0.02rem 20%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.div-img img {
  width: 400px;
  width: 400px;
  height: auto;
  margin-top: 5rem;
}
.logo-img {
  margin: 1rem 1rem;
  height: 7rem;
  width: auto;
}
.form-div {
  margin: 1rem;
}

.input-container {
  display: flex;
  width: 90%;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  border-radius: 25px;
}
i {
  padding: 1.5rem;
}

label {
  color: var(--font-color-lt);
  margin: 1rem;
}

form h2 {
  color: var(--font-color-lt);
  margin: 1rem;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  font-weight: 800;
}

.inp-check {
  width: auto;
  margin-left: 1rem;
  transform: scale(1.5);
}
