@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
body {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
}

p {
  font-family: "Teko", sans-serif;
  color: #0d1b2a;
}

.container {
  color: #e0e1dd;
  border-radius: 20px;
}
.requests-notify {
  animation-name: popout;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.p-2 {
  font-family: "Merriweather Sans", serif;
  background-image: linear-gradient(45deg, rgb(44, 79, 117), #6ab4f5);
  font-size: 1.5rem;
  border: #0d1b2a 2px solid;

  /* background-color: #415a77;   */
}

.item {
  border-radius: 20px;
}
h2 {
  width: 94%;
  text-align: center;
  border-bottom: 1px dashed var(--font-color);
  line-height: 0.1em;
  margin: 10px 20px;
  color: var(--font-color);
  margin: 2rem;
}

h2 span {
  color: var(--font-color);
  background: var(--main-bg-color);
  padding: 0 10px;
  font-family: "Merriweather Sans", serif;
  font-size: 20px;
}
h2 .date-text {
  font-size: 30px;
}
li {
  color: var(--font-color);
  font-size: 25px;
}

.list-group-item {
  width: 400px;
  background-color: #c0cecf;
  border-color: var(--font-color);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.items-container {
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 0.7rem 4rem;
}
