<div class="menu-container">
  <div class="container p-3 requests-notify">
    <div class="row"><app-menu-requests></app-menu-requests></div>
  </div>



  <div class="container">
    <div class="row text-center mt-5 pt-5 mx-5">
      <p class="display-4">{{ currentMenu.date }}🗓️</p>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-4 my-4 mx-4" *ngFor="let item of currentMenu.items">
        <div class="p-2 py-4 text-center h2 item">
          {{ item | titlecase }}
        </div>
      </div>
    </div>
  </div>
