<div class="menu-container">
  <div class="container p-3 requests-notify">
    <div class="row"><app-menu-requests></app-menu-requests></div>
  </div>

  <div class="menu-container p-3">
    <div class="menu-container-header">
      <h2>
        <span class="date-text"
          >&nbsp; {{ currentMenu.date | date }} &nbsp;</span
        >
      </h2>
    </div>
    <div class="items-container px-5 mx-5 py-4 text-center">
      <ul class="list-group text-center">
        <li class="list-group-item" *ngFor="let item of currentMenu.items">
          -&nbsp;&nbsp; {{ item | titlecase }} &nbsp;&nbsp;-
        </li>
      </ul>
    </div>
    <div class="btns" *ngIf="userRole === 'emp'">
      <button class="btn" (click)="openPlaceOrder()">Place Order</button>
    </div>

    <h2><span>&nbsp; * * * * * &nbsp;</span></h2>
  </div>
  <app-place-order></app-place-order>
</div>
