@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

.date-input {
  margin: 2rem 12rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.801);
  transition: opacity 1000ms;
  visibility: visible;
  opacity: 1;
  z-index: 99;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #dcecfb;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  color: #0d1b2a;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #0d1b2a;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.form-label {
  width: 25%;
  margin-right: 15px;
  font-family: "Merriweather Sans";
}

.display-6 {
  font-family: "Teko", sans-serif;
}
.form-control {
  flex-grow: 1;
}
.btn-primary {
  background: #0d1b2a;
  border: 0px;
}
.btn-primary:disabled {
  background: #0d1b2a34;
  border: 0px;
}

p {
  font-family: "Teko", sans-serif;
  color: #0d1b2a;
}

.container {
  color: #e0e1dd;
  /* background-color: rgba(172, 209, 246, 0.416); */
  border-radius: 20px;

  /* border:   #eb1111 2px solid; */
}
.requests-notify {
  animation-name: popout;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.p-2 {
  font-family: "Merriweather Sans", serif;
  background-image: linear-gradient(45deg, rgb(44, 79, 117), #6ab4f5);
  font-size: 1.5rem;
  border: #0d1b2a 2px solid;

  /* background-color: #415a77;   */
}

.item {
  border: #0d1b2a 2px solid;
  border-radius: 20px;
  color: #0d1b2a;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn {
  background-color: #1c3b5c;
  color: rgb(255, 255, 255);
  font-family: "Merriweather Sans", serif;
}
