<div id="popup1" class="overlay" *ngIf="isReviewMenuOpen">
  <div class="popup">
    <div class="row text-center">
      <p class="display-6">{{ currentMenu.date }}</p>
    </div>
    <a class="close" (click)="closeDialog()">&times;</a>
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4" *ngFor="let item of currentMenu.items">
            <div class="text-center h4 item">
              {{ item | titlecase }}
            </div>
          </div>
        </div>
        <div class="btns">
          <div>
            <button class="btn mx-3 h5" (click)="acceptMenu()">Accept</button>
          </div>
          <div>
            <button class="btn h5" (click)="rejectMenu()">Reject</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-reject-menu [currentMenu]="currentMenu"></app-reject-menu>
