body {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
}
.date-input {
  margin: 2rem 12rem;
}

.popup {
  width: 30%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.form-label {
  width: 25%;
  margin-right: 15px;
}

.display-6 {
  font-family: "Teko", sans-serif;
}
.form-control {
  flex-grow: 1;
}

.h3 {
  font-family: "Merriweather Sans";
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

li {
  color: var(--font-color);
  font-size: 25px;
}

.list-group-item {
  width: 300px;
  background-color: #c0cecf;
  border-color: var(--font-color);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.items-container {
  display: flex;
  justify-content: center;
}

.header-text {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 30px;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
}
