@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

.date-input {
  margin: 2rem 12rem;
}
body {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  font-family: "Merriweather Sans", serif;
}

.popup {
  width: 30%;
}

.form {
  width: 95%;
}
.form-group {
  display: flex;
  flex-direction: row;
}

.form-label {
  margin-bottom: 0px;
  padding-top: 0.3rem;
}
.form-control {
  border: 0px;
  text-align: center;
}

.header-text {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 30px;
}

.btn-outline-danger {
  background-color: var(--main-bg-color);
  color: red;
}

.h4 {
  margin: auto;
  width: 85%;
}
.items {
  margin-top: 32px;
  margin-bottom: 20px;
}

.btn {
  padding: 0px 8px;
  font-size: 20px;
  /* border-radius: 50%; */
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

input.ng-invalid.ng-touched {
  border-left: red 2px solid;
}
.sbmt {
  padding: 3px 8px;
}
