.btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.popup {
  width: 30%;
}

.header-text {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 30px;
  color: var(--font-color);
}
