<div id="popup1" class="overlay" *ngIf="isOrderMenuOpen">
  <div class="popup">
    <h1 class="header-text text-center">{{ constants.PLACE_ORDER_HEADER }}</h1>
    <a class="close" (click)="closeDialog()">&times;</a>

    <div class="content">
      <h2 class="h5 mt-3 text-center">
        {{ constants.NAME_LABEL }}{{ currentEmployee.username }}
      </h2>
      <h2 class="h5 mt-3 text-center">
        {{ constants.CURRENT_BALANCE_LABEL }}{{ currentEmployee.balance }}
      </h2>
      <h2 class="h5 mt-3 text-center">
        {{ constants.TOTAL_BILL }}{{ constants.MENU_PRICE }}
      </h2>
      <div class="btns mb-3">
        <button class="btn" type="button" (click)="placeOrder()">
          {{ constants.PLACE_ORDER_BTN }}
        </button>
      </div>
    </div>
  </div>
</div>
