<aside>
  <p class="h3">
    Hello,
    {{ user.name.split(" ")[0] | titlecase }}
  </p>
  <div
    *ngFor="let navigationItem of navigation[role]"
    class="row justify-content-center h4"
  >
    <a
      class="butn"
      [routerLink]="[navigationItem.route]"
      routerLinkActive="active"
      style="cursor: pointer"
    >
      <i [class]="navigationItem.iconClass"></i>
      &nbsp;{{ navigationItem.label }}
    </a>
  </div>
  <div class="footer">
    <div>&copy;&nbsp;{{ constants.OWNER_NAME }}</div>
  </div>
</aside>
