* {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
}
.footer {
  position: absolute;
  bottom: 0px;
  color: var(--font-color);
}

aside {
  color: var(--font-color-lt);
  padding-left: 20px;
  height: 91vh;
  background: linear-gradient(210deg, #003835 40%, #c0cecf);
  overflow: hidden;
  border-top: 1.5px var(--font-color-lt) solid;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

aside a {
  color: var(--font-color);
}
aside a {
  color: var(--font-color-lt);
  text-decoration: none;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.active {
  outline: none;
  position: relative;
  color: var(--font-color) !important;
  background-color: var(--main-bg-color);
}

aside a:hover {
  /* color: #0d1b2a; */
  outline: none;
  position: relative;
  color: var(--font-color) !important;
  /*  */
  background-color: var(--main-bg-color);
  i {
    color: var(--font-color);
  }
}

aside p {
  margin: 0;
  padding: 40px 0;
}

.img-logo {
  width: 30px;
  height: 30px;
}

.nav-lnks {
  display: flex;
  justify-content: flex-start;
}
.h3 {
  font-family: "Kalnia", serif;
  font-weight: bolder;
}
