@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
.example-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #e0e1dd;
  color: #e0e1dd;
}

.example-sidenav {
  /* font-family: "Smooch", cursive; */
  font-family: "DM Serif Display", serif;
  width: 18rem;
  background: #0d1b2a;
  border: 0px;
  color: #e0e1dd;
}
.nav-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* jus */
}
.footer {
  margin-top: auto;
  align-self: start;
}

.butn:hover {
  transform: scale(1.2);
  color: rgb(39, 23, 23);
}
