<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="example-sidenav" opened>
    <div class="container nav-container">
      <div
        *ngFor="let i of navigation[role]"
        class="row justify-content-center my-5 h2"
        [routerLinkActive]="active"
      >
        <p class="butn" [routerLink]="[i[1]]" style="cursor: pointer">
          {{ i[0] }}
        </p>
      </div>
      <div class="footer">
        <div class="butn">
          <a (click)="logout()" style="cursor: pointer">Logout</a>
        </div>
        <div class="">&copy;&nbsp; Udbhav Mani</div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
