@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

* {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
}
.main-container {
  display: flex;
  flex-direction: row;
}

.sidenav {
  font-family: "Teko", sans-serif;
  min-width: 18rem !important;
  font-size: small;
  background-color: var(--main-bg-color);
  height: 91vh;
  position: sticky;
  top: 0px;
  left: 0px;
}
.main-content {
  width: 78rem;
  padding: 2rem;
  background-color: var(--main-bg-color);
}

.action {
  position: fixed;
  top: 40px;
  right: 40px;
}

.action .profile {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;

  height: 9%;
  width: 100%;
  background-color: var(--font-color);
}

.logout-icon img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 3%;
  margin-top: 20px;
}
.logout-icon:hover + .help {
  transform: scale(1.3);
  display: block;
}
.help {
  display: none;
  position: absolute;
  right: 35px;
  top: 65px;
  background-color: #a8cdd0;
  border-radius: 10px;
  font-size: smaller;
  width: 60px;
  background-color: #2f2e41;
  color: var(--font-color-lt);
  text-align: center;
  padding: 5px;
}

.icon img {
  margin-left: 30px;
  width: auto;
  height: 65px;
  width: auto;
  padding: 5px 0px;
}
