body {
  --main-bg-color: #c0cecf;
  --font-color: #003835;
  --font-color-lt: #c0cecf;
}

.popup {
  width: 30%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.form-label {
  width: 40%;
  margin-right: 15px;
  font-family: "Merriweather Sans";
}

.header-text {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 30px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
}
